:root{
    --primary-color: rgb(111, 80, 55);  
    --bg: rgba(125, 120, 120, 0.8);;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: rgb(255, 255, 255);
}

/* Navbar */
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    border-bottom: 1px solid var(--primary-color);
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 9999;      
}

.Navbar .nav-logo{
    font-size : 2rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.Navbar .nav-logo span{
    color: var(--primary-color);
}

.Navbar .navbar-nav a{
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.Navbar .navbar-nav a:hover{
    color: var(--primary-color);
}

.Navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary-color);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.Navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.Navbar .Navbar-extra a{
    color:rgb(255, 255, 255);
    margin: 0 0.5rem;
}

.Navbar .Navbar-extra a:hover{
    color: var(--primary-color);
}

#menu-nav{
    display: none;
}

/* navbar Search form */
.Navbar .search-form{
    position: absolute;
    top:100%;
    right: 7%;
    background-color: rgb(255, 255, 255);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.search-form.active{
    transform: scaleY(1);
}

.Navbar .search-form input{
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color:var(--primary-color);
}

.Navbar .search-form label{
    color: var(--primary-color);
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
}

/* shopping cart */
#shopping-button{
    position: relative;
}

#shopping-button .quantity-badge{
    display: inline-block;
    padding: 1px 5px;
    background-color: red;
    border-radius: 6px;
    font-size: 0.8rem;
    position: absolute;
    top:0;
    right: -10px;
}

.shopping-cart{
    position: absolute;
    top:100%;
    right:-100%;
    height: 100vh;
    width: 35rem;
    padding: 0 1.5rem;
    color: var(--bg);
    background-color: white;
    transition: 0.3s ease;

}

.shopping-cart.active{
    right: 0;
}

.shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed var(--primary-color);
    position: relative;
}

.shopping-cart img{
    height: 4rem;
    border-radius: 50%;
}

.shopping-cart h3{
    font-size: 1.4rem;
}


.shopping-cart .item-price{
    font-size: 1.2rem;
}


.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove{
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    border-radius: 0.3rem;
    cursor: pointer;
}

.shopping-cart h4{
    font-size: 1.6rem;
    text-align: center;
    margin-top: -1rem;
}

/*checkout form*/
.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px dashed black;
    margin-top: 1rem;
    padding: 1rem;
}

.form-container h5{
    text-align: center;
    font-size: 1rem;
}


.form-container form{
    width: 100%;
    text-align: center;
}


.form-container label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}


.form-container span{
    text-align: right; 
}


.form-container input{
    background-color: rgb(221, 221, 221);
    padding: 5px;
    font-size: 1rem;
    width: 70%;
}

.form-container .checkout-btn{
    padding: 6px 14px;
    background-color: royalblue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    margin:1rem auto;
    cursor: pointer;
}


.form-container .checkout-btn.disabled {
    background-color: #999;
    cursor: not-allowed;
}



/* Hero Section */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/Coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    mask-image: linear-gradient(rgba(0,0,0,1)75%, rgba(0,0,0,0));
}

/*.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 22%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(155, 144, 144,1)8%, rgba(155, 144, 144,0) 55%);
}*/

.hero .mask-container{
    position: absolute;
    /*background:salmon;*/
    inset:0;
    mask-image: url('../img/Coffee.svg');
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
}

.hero .content{
    padding: 1.4rem 7%;
    /*max-width: 60rem;*/
    width: 100%;
    text-align: center;
    position: fixed;
    top :100px;
}
.hero .content h1 {
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    line-height: 1.2;
}

.hero .content h1 span{
    color: var(--primary-color);
}

.hero .content p{
    font-size: 1.5rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
}

.hero .content .cta{
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
}

/*About section */

.about, 
.menu,
.products, 
.contact{
    padding: 8rem 7% 1.4rem;
}

.about h2, 
.menu h2,
.products h2,
.contact h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.about h2 span, 
.menu h2 span,
.products h2 span,
.contact h2 span{
    color: var(--primary-color);
}

.about .row{
    display: flex;
}

.about .row .about-img img {
    width: 100%;
    mask-image: url('../img/menu/CoffeeMask.svg');
    mask-size: 50%;
    mask-repeat: no-repeat;
    mask-position: center;
}

.about .row .content{
    flex: 1 1 35rem;
    padding:0 1rem;
}

.about .row .content h3{
    font-size: 1.8rem;
    margin-bottom: 0,8rem;
}

.about .row .content p{
    margin-bottom: 0.8rem;
    line-height: 1.6;
    font-size: 1.3rem;
    font-weight: 100;
}

/* menu section */
.menu p,.products p,.contact p {
    text-align: center;
    font-size: 1.2rem;
    margin: auto;
    max-width: 35rem;
    line-height: 1.6;
    margin-top: 1rem;
}

.menu h2,.products h2,.contact h2 {
    margin-bottom: 1rem;
}

.menu .row{
    display: flex;
    flex-wrap:wrap;
    margin-top: 5rem;
}


.menu .row .menu-card{
    text-align: center;
    padding-bottom: 1rem;
    width: 18rem;
}

.menu .row .menu-card img{
    border-radius: 50%;
    width: 70%;
}

.menu .row .menu-card-title{
    margin: 1rem auto 0.5rem;
}

/* products section */
.products .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:1rem;
    margin-top: 3rem;
}

.products .products-card{ 
    text-align: center;
    padding: 1rem;
    width: auto;
    border: 1px solid var(--primary-color);
}

.products .products-icons{
    display: flex;
    justify-content: center;
    gap:0.5rem;
}

.products .products-icons a{
    width:  4rem;
    height: 4rem;
    color: white;
    margin:1.2rem;
    border:1px solid rgb(238, 238, 238);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.products .products-icons a:hover{
    background-color: var(--primary-color);
    border-color: 1px solid var(--primary-color);
}
.products .products-img img{
    height: 20rem;
}

.products .products-content h3{
    font-size: 1.2rem;
}

.products .product-stars{
    font-size: 1rem;
    padding: 0.5rem;
    color:var(--primary-color)
    
}

.products .product-stars .star-full{
    fill: var(--primary-color)
}

.products .products-price{
    font-size: 1.3rem;
    font-weight: bold;

}

/* modal box */
/*item details*/
[x-cloak] {
    display: none !important; 
}

.modal[style*="display: block"], 
.modal[style*="display: flex"] {
  display: flex !important;
}

.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
}

.modal-container{
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 90vh;
    position: relative;
    background-color: rgb(243, 243, 243);
    color:var(--bg);
    height: 22rem;
    padding: 1.2rem;
    border: 1px solid var(--primary-color);
    width: 70%;
    animation: animateModal 0.5s;
}

/*modal animation*/
@keyframes animateModal {
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top:0;
        opacity: 1;
    }
    
}

.modal-container .close-icon {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    color: var(--bg);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}
.modal-content{
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    gap: 2rem;
}

.modal-content img{
    max-width: 300px;
    height: auto;
    border-radius: 0.5rem;
}
 
.modal-content p {
    font-size: 1rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;
    text-align: left;
}

.modal-content a{
    display: flex;
    gap: 1rem;
    width: 10rem;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    justify-content: center;
    height: 3.3rem;
    align-items: center;
}

.close-icon {
    position: absolute !important;
    right: 2rem !important;
    top: 2rem !important;
    z-index: 99999 !important; /* Angka super besar agar di paling depan */
    cursor: pointer !important;
    background: white; /* Kasih background dikit biar kelihatan pas tes */
    padding: 5px;
    border-radius: 50%;
}
.close-icon svg {
    display: block; /* Pastikan SVG-nya punya ukuran */
}


/* contact section */
.contact .row{
    display:flex;
    margin-top: 2rem;
    background-color: var(--primary-color);
    flex-wrap: wrap;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    text-align: center;
    padding: 3rem;
}

.contact .row form .input-group{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid rgb(238, 238, 238);
    padding-left: 2rem;
}

.contact .row form .input-group input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background:none;
    color: rgb(255, 255, 255);
}

.contact .row form .btn{
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color:rgb(255, 255, 255);
    background-color: var(--bg);
}

.footer{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}


.footer .socials{
   padding: 1rem 0;
}

.footer .socials a{
    color: rgb(255, 255, 255);
    margin: 1rem;
}

.footer .socials a:hover,
.footer .links a:hover{
    color: var(--bg);
}

.footer .links{
    margin-bottom: 1.4rem;
}

.footer .links a{
    color: rgb(255, 255, 255);
    padding: 0.7rem 1rem;
}

.footer .credit {
    font-size: 0.8rem;
}

.footer .credit a{
    color:var(--bg);
    font-weight: 700;

}



/* Media Queries */

/* Leptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
    
}


/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 62%;
    }

    #menu-nav{
        display: inline-block;
    }

    .Navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color:rgba(155, 144, 144,0.8);;
        width: 25rem;
        height: 100vh;
    }

    .Navbar .navbar-nav.active{
        right: 0%;
    }

    .Navbar .navbar-nav a{
        color: rgb(255, 255, 255);
        display: block;
        margin: 1.5rem;
        font-size: 2rem;
        padding: 0.5rem;
    }

    .Navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }

    .Navbar .navbar-nav a:hover::after{
        transform: scaleX(0.2);
    }

    .Navbar .search-form{
        width: 90%;
        right: 2rem;
    }


    .about .row{
        flex-wrap: wrap;
    }

    .about .row .about-img img{
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content{
        margin:0;
    }

    .about .row .content h3{
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p{
        font-size: 1.5rem;
    }

    .menu p {
        font-size: 1.2rem;

    }

    .contact .row  {
        flex-wrap: wrap;
    }

    .contact .row .map{
        height: 30rem;
    }

    .modal-content{
        flex-wrap: wrap;
    }


}


/* Mobile phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }


    
}
